<h1>Listing documents</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td>Owner: <%= document.user.name %> </td>
    <td>Document Name: <%= document.name %> </td>
    <td>Document URL: <%=link_to document.file %> </td>
    <td>Creation date: <%= document.created_at %> </td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
