<h1>Listing webhooks</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Deleted</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webhooks.each do |webhook| %>
  <tr>
    <td><%= webhook.url %></td>
    <td><%= webhook.deleted %></td>
    <td><%= webhook.user_id %></td>
    <td><%= link_to 'Show', webhook %></td>
    <td><%= link_to 'Edit', edit_webhook_path(webhook) %></td>
    <td><%= link_to 'Destroy', webhook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webhook', new_webhook_path %>
