<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @whsent.url %>
</p>

<p>
  <b>State:</b>
  <%= @whsent.state %>
</p>

<p>
  <b>Attempts:</b>
  <%= @whsent.attempts %>
</p>

<p>
  <b>Webhoook:</b>
  <%= @whsent.webhoook_id %>
</p>


<%= link_to 'Edit', edit_whsent_path(@whsent) %> |
<%= link_to 'Back', whsents_path %>
