<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @webhoook.url %>
</p>

<p>
  <b>Deleted:</b>
  <%= @webhoook.deleted %>
</p>

<p>
  <b>User:</b>
  <%= @webhoook.user_id %>
</p>


<%= link_to 'Edit', edit_webhoook_path(@webhoook) %> |
<%= link_to 'Back', webhoooks_path %>
