/ Nav tabs
.modal-dialog
  .modal-content
    .modal-header
      %button.close.cancel{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title My Webhook Notifications
    .modal-body
      -webhoook = @webhoook
      / Tab panes
      .row
        .col-md-12{style: 'height:300px;overflow-y: scroll;'}
          %table.table.table-hover.table-responsive{id: 'whsent_list'}
            %tr
              %th Webhook URL
              %th Type
              %th State
              %th Attempts

            - webhoook.whsents.each do | whsent |
              %tr        
                %td= whsent.url
                %td= whsent.notification==2? 'Converted' : 'Failed' 
                %td= whsent.state == 0? 'Received': whsent.state == 1? 'Not Received: Yet' : 'Not Received: Exhausted Attempts'  
                %td= whsent.attempts
                -if whsent.notification==2
                  %td= link_to 'Document', whsent.urldoc
      .row
        %tr
          %td
            %a.dashboard_list_webhooksb{href: "#", value: webhoook.id} Back 
                  
:javascript
$(document).ready(function() {

    $('.dashboard_list_webhooksb').click(function(){
      var dom2 = $("#create_document_modal");
      dom2.empty();
      $.get('/webhoooks/',
          function(data) {
            dom2.append(data);
          });
      $("#create_document_modal").modal(); 
    });
    
})    
