<h1>Press the bottom to convert your document!</h1>
<%= form_for :post, url: posts_path , :html => {:multipart => true}  do |f|  %>
  <%= f.file_field :file %><br><br>
  <%=f.radio_button(:format, "pdf")%> pdf
  <%= f.radio_button(:format, "txt")%> txt
  <%= f.submit %>
<% end %>