%header.navbar.navbar-inverse{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Document Converter
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Dashboard
        %li
          %a{href: "#"} Documentation
      %ul.nav.navbar-nav.navbar-right
        %li
          %a Hello, name!
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            My Account
            %b.caret
          %ul.dropdown-menu
            %li.dropdown-header{role: "presentation"} Account Settings
            %li
              %a{href: "#"} My profile
            %li
              %a{href: "#"} My API Keys
            %li
              %a{href: "#"} My Webhooks
            %li.divider{role: "presentation"}
            %li= link_to "sign out", destroy_user_session_path, :method => :delete
  / /.navbar-collapse
.container
  = form_for :post, :url=>{ :controller=>"posts", :action=>"create"}, :html => {:multipart => true} do |f|
    = f.file_field :uploaded_file
    = f.radio_button(:format, 'pdf')
    pdf
    \#{f.radio_button(:format, 'txt')} txt
    \#{f.submit "Convert"}
.container-fluid
  .row
    .col-sm-offset-1.col-sm-11
      %h4
        %a{href: "/posts/new"} Start the Wizard
        to start converting documents.
      %hr/
  .row
    .col-sm-offset-1.col-sm-2
      .well.well-sm
        %ul.nav.nav-list
          %li.nav-header
            General
          %li.active
            %a{href: "#"} Dasboard
          %li.nav-header
            Requests
          %li
            %a{href: "#"} Events Report
          %li
            %a{href: "#"} Webhooks Events
          %li.divider
    .col-sm-8
      -@user.documents.each do |d|
        .panel.panel-default
          .panel-body
            .pull-left
              %p.text-muted= "Uploaded date: " + d.created_at.to_s
              %h4= "Document name: " + d.name
              %h5="Source and destination format: "+ d.format.name + " to " +d.converted_document.format.name
